main {
	display: flex;
	flex-direction: column;
	align-items: center;

	min-width: 500px;
	max-width: 800px;

	margin: 0 auto;
}

h2,
h3,
h4,
h5,
h6 {
	text-align: left;
	width: 100%;
}

hr {
	width: 100%;
}

blockquote {
	font-size: 1.2em;
	font-style: italic;
}

blockquote > p::before {
	content: "“";
	display: inline;
}

blockquote > p::after {
	content: "”";
	display: inline;
}

main > p {
	width: 100%;
	text-align: left;
}
